
    .menu {
        
        list-style-type: none;
        margin: 5px;
        padding: 5px;
        background-color:white;

      }
      
      .menu1 a {
        display: block;
        width: 900px;;
        color: #000;
        margin-right: 1180px;
        
        padding: 30px 30px;
        text-decoration: none;
        
        
      }
      
      .menu1 a.active {
        color: pink;
      }
      
      .menu1 a:hover:not(.active) {
        background-color: white;
        color: black;
      }
      .text.thicker {
        font-weight: 900;
      }
      